:host >>> table td, th {
  font-size:0.8em;
  margin: 2px;
  padding: 0px;
  border-collapse: collapse;
  }



:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: 1px solid #f1f1f1;
  padding: 2px;
}

:host >>> label, input {
  font-size:12px;
  font-weight: 600;
  padding: 3px;
  }

  .plStatus1 {
    background-color: red;
  }

  .plStatus0 {
    background-color: green;
  }

  .plStatus2 {
    background-color: rgb(9, 0, 128);
  }